.app-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #391d55, #e86807);
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
  }
  
  h1 {
    margin-bottom: 50px;
  }
  